.bigbutton {
    display: inline-block;
    font-size: 200%;
    width: 23%;
    background-color: #008CBA;
    color: antiquewhite;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 4px;
}

.button2 {
    border-radius: 8px;
    font-size: 150%;
    background-color: #008CBA;
    color: antiquewhite;
    margin-left: 40%;
    padding: 2%;
}

.button3 {
    border-radius: 4px;
    font-size: 110%;
    background-color: #008CBA;
    color: antiquewhite;
}

.button4 {
    border-radius: 8px;
    font-size: 150%;
    background-color: #008CBA;
    color: antiquewhite;
}