h1,h3,h4,h5,h6 
{
    font-family: "Ubuntu", Helvetica, monospace;
    margin-left: 4%;
    padding-bottom: 1px;
}

h2 {
    width: 50%;
    margin-left: 4%;
    padding-top: 2%;
    padding-bottom: -2px;
    font-family: "Ubuntu", Helvetica, monospace;

}

body {
    font-family: "Ubuntu", Helvetica, monospace;
    font-size: 120%;
    background-image: url("Downloads/hd-wallpaper-g9ed1ec2cd_1920.jpg");
    background-color: antiquewhite;
    padding: 3%;
}

.header_text {
    float: inline-end;
}

.text {
    margin-left: 4%;
}


.columns {
    column-count: 3;
    column-rule: 4px solid antiquewhite;

}