h1, h3, h4, h5, h6 {
    font-family: "Ubuntu", Helvetica, monospace;
    margin: 3%;
    padding: 0px;
  }

h2 {
    width: 50%;
    padding-left: 40%;
    padding-top: 2%;
    padding-bottom: 2%;


}

body {
    font-family: "Vollkorn", Georgia, monospace;
    font-size: 120%;
    background-image: url("Downloads/hd-wallpaper-g9ed1ec2cd_1920.jpg");
    background-color: antiquewhite;
padding: 3%;

    
    
}



.columns {
    column-count: 3;
    column-rule: 4px solid antiquewhite;

}