{% extends 'base.html' %}

{% block content %}

<form action="/owners" method="post">
    <ul>
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">
    </ul>
    <ul>
        <label for="surname">Surname:</label>
        <input type="text" name="surname">
    </ul>
    <ul>
        <label for="telephone">Telephone:</label>
        <input type="text" name="telephone">
    </ul>
    <ul>
        <label for="email">Email:</label>
        <input type="text" name="email">
    </ul>
    <ul>
        <button type="submit">Add Owner</button>
    </ul>




    {% endblock %}