{% extends 'base.html' %}

{% block content %}

<h2>Owner</h2>
<section class="Text">
    <table  class="table1">
        <colgroup>
            <col span="1" style="width: 200px;">
            <col span="1" style="width: 200px;">
            <col span="1" style="width: 200px;">
            <col span="1" style="width: 200px;">

          </colgroup>
        <tr>
            <th>
                Name:
            </th>
            <th>
                Telephone:
            </th>
            <th>
                Email:
            </th>
            <th>
                Status:
            </th>
        <tr>
            <td>
                {{ owner.first_name }} {{ owner.surname}}
            </td>
            <td>
                {{ owner.telephone}}
            </td>
            <td>
                {{ owner.email }}
            </td>
            <td>
                {{ owner.status }}
            </td>
        </tr>
    </table>
</section>
<br>
<table class="button_table">
    <tr>
        <th>
            Pets:
        </th>
        <td>
            {% for pet in pets %}

            {% if (pet.owner_id == owner.id) %}
            <a href="/pets/{{ pet.id}}"><button class="button4">{{ pet.name }}</button> </a>
            {% endif %}
            {% endfor %}
        </td>
    </tr>

</table>

<p>
    <a href="/owners/edit/{{ owner.id}}"><button class="button2">Make changes</button> </a>
</p>

{% endblock %}