<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vet Manager</title>
</head>
<body>
    <main>
    <nav>
        <ul>
            <li>
                <a href="/pets">Pets</a>
            </li>
            <li>
                <a href="/vets">Vets</a>
            </li>
            <li>
                <a href="/owners">Owner</a>
            </li>
            <li>
            <a href="/">Home</a>
        </li>
        </ul>
    </nav>
    <section>
        {% block content %}

        {% endblock %}
    </section>
    </main>
</body>
</html>